---
import StandardLayout from '../layouts/StandardLayout.astro'
import Entry from '../content/misc/entry.astro'

const education = {
	HeaderItems: [
		'Rice University',
		'GPA: 3.3 / 4.0',
		'Bachelors of Science, Computer Science',
		'August 2020 - May 2024',
	],
	ContentItems: [
		'Relevant Coursework: Operating Systems (COMP 321, 421), Concurrent Programming (COMP 318, 322), Algorithmic Design (COMP 182, 382, 450)',
	],
}
const labatt = {
	HeaderItems: [
		'Labatt Food Service',
		'May 2023 - August 2023',
		'Full Stack Software Developer',
		'San Antonio, Texas',
	],
	ContentItems: [
		'Upgraded internal web application to allow users to identify shipping opportunites and reduce Freight Costs',
		'Employed VueJS & Bootstrap to create an interactive UI, and C#, SQL, & EntityFramework to expose Restful APIs supporting UI functions',
		'Produced, code-reviewed, and merged 25 major feature pull requests and deployed using Jenkins',
		'Managed MariaDB SQL migrations via .Net Entity Framework, architected changes to domain representations affecting the models of 1000 top-level objects and ~1 million of their respective transactions',
	],
}
---

<StandardLayout>
	<h2 class='text-xl font-bold'>Education</h2>
	<Entry {...education}>
		<p class="text-sm mr-8 ml-1">
			Relevant Coursework: Operating Systems (COMP 321, 421), Concurrent Programming (COMP 318, 322), Algorithmic Design (COMP 182, 382, 450)
		</p>
	</Entry>
	<h2 class='mt-2 text-xl font-bold'>Experience</h2>
	<Entry {...labatt} />

	<div class='prose max-w-none'>
		<h2 class='mb-0'>My CV / About Me</h2>
		<p class='text-sm mt-0'>I figured they should be about the same.</p>

		<h3>Early Life.</h3>
		<p>
			I was born and raised just outside of Wichita, Kansas.
			<br />
			 I grew up helping my dad with farming, various construction
			projects, and at the family business, a small aircraft
			instrumentation company. My mother is a professional photographer,
			so art and design was also a prominent part of my life.
			<br />
			 There are times in high school, where I went from class straight to
			driving a tractor, then to help my mom with a photoshoot.
			<br />
			 I went to Andover Central High School (go Jags), participated in
			Quiz Bowl, Science Olympiad, and even played a little football
			freshman year. I graduated Validictorian and Suma Cum Laude in the
			class of 2020.
		</p>

		<h3>The Post-Kansas Years</h3>
		<p>
			After touring all kinds of top tiered colleges, I decided to go to
			Rice University in Houston, Texas, about 600 miles from the place I
			grew up. There, I planned to study Computer Science, or Electrical
			Engineering, or Mechanical Engineering. I knew I was an Engineer of
			some sort, I just didn't know what kind. So, I chose the one that
			made the most money, which seemed an entirely valid course of
			action. In that, I chose Computer Science.
			<br />
			 In truth, Computer Science always made sense to me. I had been in a
			robotics club back home, and always had a mind for programming. I
			also had the mind and temperment of a computer scientist. Here I
			will cite a great mind, Theo - t3.gg from youtube and this video
			[https://www.youtube.com/watch?v=x5XiXvjJEgs&pp=ygUYdGhlbyBxdWFsaXRpZXMgb2YgYW4gZGV2].
			Which explains that good programmers are Lazy, Arrogant, and
			Impatient.
			<br />
			 Thats Me!
			<br />
			 These are qualities that made me a good programmer, because I came
			into one of the most difficult and gruelling stem programs in the
			world, and you do not survive without some of these qualities.
			<br />
			 Laziness is a virtue, because it means that you make do with the
			things you are given up to a breaking point. It means that you don't
			do extraneous work, and learn how to use your time as efficiently as
			possible.
			<br />
			 Arrogance is a virtue, simply because it means that you can be
			bullheaded without being worried about being bullheaded. It means
			that when you don't know what to do next, you pick a direction and
			run with it. And, more than once, I've been described as a bull in a
			china shop, with reference to projects and study groups. And while
			this may be a little offputting for some people, it means that when
			something isn't working, we smash it and get on to the next
			solution.
			<br />
			 Finally, Impatience is purely a function of the amount of caffiene
			I consume in order to keep up with my crazy schedule. I don't have
			time to deal with waiting, so, I get around it. When a tool doesn't
			work, I fix it, or find a new tool. When people aren't getting their
			work done. They get a single nice text, then a reminder, and then a
			clear and functional understanding of why they need to fix their
			shit, often in the kindest midwestern fashion.
		</p>
	</div>
</StandardLayout>
