---
import StandardLayout from '../layouts/StandardLayout.astro'
---

<StandardLayout>
	<h2 class=''>👋 Hello, I'm Connor!</h2>
	<img
		src='/images/Portrait-square.jpg'
		alt='a portrait of me'
		class='float-right w-2/5 mx-3 border-gray-300 border-4 rounded-2xl bg-gray-500'
	/>
	<p>
		I write code and build things. Currently, I am a senior @ Rice
		University studying Computer Science, and I plan to work in Software
		Engineering after I graduate. Currently, I spend my time working on my
		admittedly excessive courseload, drawing, and exploring the various
		curiosities of Houston.
	</p>
	<p>
		I've most of my life learning, and acquiring interesting stories, And
		someone once told me to write some of them down. So, that's my plan
		here: write down the projects that I use, the lessons I learn, and maybe
		a story or two.
	</p>
	<p>
		Navigating the site should be pretty easy, the nav at the top should be
		self explanatory, feel free to explore, but please remember: I'm
		building this site in my freetime from a 19 credit hour courseload at a
		t20 stem program, there will be bugs.
		<br />
		 Please feel free to
		<a href='https://github.com/Connor-Kelly/connorjkelly_site/issues'>
			<span class='text-orange-400 underline'> let me know</span>
		</a>
		 about them if you have the time!
	</p>
	<p></p>
</StandardLayout>
