---
---

<meta charset='UTF-8' />
<meta name='viewport' content='width=device-width' />
<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
<link rel='icon' href='/favicon.ico' />
<meta name='generator' content={Astro.generator} />
<title>Connor Kelly Blog</title>
<script type='module' src='/vendored/datastar.js'></script>
<script type='module' src='/vendored/lit.js'></script>