---


// ux isn't perfect, the button doesn't actually button :)
// the click event is on the whole sign, and that is by design, I prefer this
//   so that the user doesnt have hit the button itself...
---

<div
	id='construction-sign'
	class='bg-orange-500 text-white p-1 w-3/4 rounded-lg ml-2 text-sm flex items-center'
>
	<div>
		🏗️ This site is under construction (as all good projects are). All
		content here is representational of a self educative experience.
		Feedback is not only welcome, but encouraged! (src @ top right)
	</div>
	<div
		id='construction-close'
		class='mx-1 text-xl border-solid border-white border px-1 rounded'
	>
		<button>X</button>
	</div>
	<script>
		const sign = document.querySelector('#construction-sign')
		sign.addEventListener('click', (e) => {
			console.log('Toggleing')
			console.dir(e.target)
			// document.getElementById('construction-sign').classList.toggle("hidden");
			sign.classList.toggle('hidden')
		})
	</script>
</div>
