---
import { type CollectionEntry, getCollection } from 'astro:content'
import PostLink from '../../layouts/PostLink.astro'
import StandardLayout from '../../layouts/StandardLayout.astro'

export async function getStaticPaths() {
	const posts = await getCollection('projects')
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}))
}
type Props = CollectionEntry<'projects'>

const post = Astro.props
const projectName = post.slug.split('/')[0]
const { Content } = await post.render()
// const projectName = Astro.props.projectName
let pages = await getCollection(
	'projects',
	(page) => page.id.split('/')[0] == post.slug
)

const title = 'a project'
const description = 'a project description'
---


<StandardLayout>
	<div class='prose'>
		<Content />
	</div>
	<div class='bg-slate-100 p-1'>
		More Posts from this project:
		<div class='flex flex-wrap justify-center items-start'>
			{
				pages.map((page) => (
					<div class='w-1/3'>
						<PostLink post={page} />
					</div>
				))
			}
			{
				pages.map((page) => (
					<div class='w-1/3 grow'>
						<PostLink post={page} />
					</div>
				))
			}
		</div>
	</div>
</StandardLayout>
