---
import { type CollectionEntry, getCollection } from 'astro:content'
import PostLink from '../../layouts/PostLink.astro'
import StandardLayout from '../../layouts/StandardLayout.astro'

export async function getStaticPaths() {
	const posts = await getCollection('projects')
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}))
}
type Props = CollectionEntry<'projects'>

const post = Astro.props
const projectName = post.slug.split('/')[0]
const { Content } = await post.render()
// const projectName = Astro.props.projectName
let pages = await getCollection('projects', (page) => page.id.split('/')[0] == post.slug)

const title = 'a project'
const description = 'a project description'
---

<StandardLayout>
	<div class='prose'>
		<Content />
	</div>
	<div class='bg-slate-100 rounded-lg p-4 items-center flex flex-col'>
		<p class='text-center italic'>More Posts from this project:</p>
		<hr class='border-2 mb-2 w-1/2' />
		<!-- <div class='flex flex-wrap justify-center items-start'> -->
		<div class='columns-3 gap-2'>
			{
				pages.map((page) => (
					<div class=''>
						<PostLink post={page} />
					</div>
				))
			}
			{
				pages.map((page) => (
					<div class=''>
						<PostLink post={page} />
					</div>
				))
			}
		</div>
	</div>
</StandardLayout>

<!-- <style>
	/* body {
		background-color: #000;
		font:
			1.1em Arial,
			Helvetica,
			sans-serif;
	} */

	/* img {
		max-width: 100%;
		display: block;
	} */

	/* figure {
		margin: 0;
		display: grid;
		grid-template-rows: 1fr auto;
		margin-bottom: 10px;
		break-inside: avoid;
	}

	figure > img {
		grid-row: 1 / -1;
		grid-column: 1;
	}

	figure a {
		color: black;
		text-decoration: none;
	}

	figcaption {
		grid-row: 2;
		grid-column: 1;
		background-color: rgba(255, 255, 255, 0.5);
		padding: 0.2em 0.5em;
		justify-self: start;
	}

	.mason-container {
		column-count: 3;
		column-gap: 10px;
	} */
</style> -->
