---
import { getCollection, getEntry } from 'astro:content'
import FormattedDate from '../../components/FormattedDate.astro'
import StandardLayout from '../../layouts/StandardLayout.astro'

const posts = (
	await getCollection('projects', (entry) => entry.id.includes('index'))
).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
const index = await getEntry('projects', 'index')
const { Content } = await index.render()
---

<StandardLayout>
	<section class='flex flex-wrap justify-center'>
		<div class='text-center prose'>
			<Content />
		</div>
	</section>
	<section class=''>
		<div class='columns-2 gap-4'>
			{
				posts
					.filter((p) => p.id != index.id)
					.map((post) => (
						<div class='mb-4 text-center hover:shadow-xl rounded-lg shadow-md transition-all grow bg-zinc-100'>
							<a href={`/projects/${post.slug}/`}>
								<h2 class='pt-1 text-3xl'>{post.data.title}</h2>
								<img
									class='w-100 rounded-b-lg'
									src={post.data.heroImage}
									alt=''
								/>
								<p class='date'>
									<FormattedDate date={post.data.pubDate} />
								</p>
							</a>
						</div>
					))
			}
		</div>
	</section>
</StandardLayout>
