---
const { frontmatter } = Astro.props
---

<div class="prose">
	<!-- ... -->
	<h2>{frontmatter.title}</h1>
	<p>{frontmatter.description}</p>
	<slot />
	<!-- Markdown content is injected here -->
	<!-- ... -->
</div>
